.features {
    background-color: #f6f6f6;
    padding: 80px 0;
    width: 100%;
    position: relative;
}

.features_container {
    /* margin: 0px auto; */
    /* width: 75%; */
    position: relative;
}

.features_content {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    grid-gap: 2rem;
    place-items: center;
    background-color: #f6f6f6;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.features_content_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    width: 380px;
}

.features_content_box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    font-family: Lexend, serif;
    margin: 0;
    font-weight: 400;
}

.features_content_box_paras {
    padding-right: 1rem;
}

.features_content_box_paras p{
    color: #6c757d !important;
    font-size: 1rem;
    font-weight: 200;
    font-family: Lexend, serif;
    margin: 0;
    line-height: 1.7rem;
}

.features_content_box_learnmore {
    font-size: 1rem;
    font-family: Lexend, serif;
    color: #00d2b5;
    font-weight: 400;
}

.features_content_box_icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.6rem;
    background: #00d2b5;
    box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
}

.features_content_box_icon svg {
    color: #fff;
    font-size: 1.6rem;
}

.features_content_box:hover {
    background-color: #00d2b5;
    transform: translateY(-10px);
}

.features_content_box:hover .features_content_box_icon {
    background-color: #fff;
}

.features_content_box:hover .features_content_box_icon svg{
    color: #00d2b5;
}

.features_content_box:hover .features_content_box_h3, .features_content_box_paras p, .features_content_box_learnmore{
    color: #fff;
}