.footer {
    padding: 80px 0;
    background-color: #fff;
}

.footer_main {
    margin-left: 10%;
    margin-right: 10%;
}

.footer_content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.footer_section_headings {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Lexend', sans-serif;
}

.footer_aboutus {
    flex: 2;
}

.footer_aboutus p, .footer_social p{
    color: #6c757d;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Lexend', sans-serif;
    width: 80%;
}

.footer_navigation {
    flex: 1;
}

.footer_navigation .navigation_links {
    list-style-type: none;
    padding-left: 0;
}

.footer_navigation .navigation_links li {
    color: #6c757d;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Lexend', sans-serif;
    list-style-type: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.footer_navigation .navigation_links li:hover {
    color: #00d2b5;
}

.footer_social {
    flex: 1;
}

.footer_social_icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer_social_icons span {
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.footer_social_icons span:hover {
    color: #00d2b5;
}

@media screen and (max-width: 910px){
    .footer_main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .footer_aboutus p, .footer_social p {
        width: 95%;
    }
}


@media screen and (max-width: 630px){
    .footer_content {
        flex-direction: column;
    }
    .footer_aboutus p, .footer_social p {
        width: 100%;
    }
}