body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_heading {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: Lexend, sans-serif;
    font-weight: 600;
}

.section-width {
    /* width: 75%; */
    /* margin: 0px auto; */
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px){
    .section_heading {
        font-size: 2rem;
    }
}